# Project place file
/*.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# Api keys
/*api_key*

# Moonwave doc build folder
/build

# Moonwave file
/sourcemap.json

# Wally Packages
/Packages
/Serverpackages

# Wally File
/wally.lock